build/
export/
resources/
tex/
.vscode/

/*.aux
/index.aux
/index.log
/index.toc
/index.pdf

/bible

/make_xelatex.sh

/maria_daskala.aux
/maria_daskala.log
/maria_daskala.pdf
/maria_daskala.tex

/test
/test.cc

